$fontsize-base: 15px;

$font-sansserif-default: 'Arial', sans-serif;
$font-sansserif-main: 'whoismono', 'courier', monospace;
$font-sansserif-extra: 'worksans', 'Arial', 'Helvetica', sans-serif;
$font-serif-default: 'Times', 'Times New Roman', serif;

$color-black: #222;
$color-white: #fff;

$break-small: 320px;
$break-medium: 640px;
$break-large: 1200px;